*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#productos {
    width: 350px;
    height: 489px;
    background-color: #f2f2f2;
}
.producto {
    display: flex;
    padding-top: 30px;
    padding-left: 27px;
}
.botonNumero {
    display: flex;
    width: 123px;
    height: 50px;
    border: solid 1px #828282;
    border-radius: 12px;
    justify-content:space-evenly;
    align-items: center;
}
.botonNumero button {
    width: 20px;
    height: 20px;
    background-color: #0e0e0e;
    border-radius: 4px;
    border: none;
    font-size: 1.3rem;
}
.imagen {
    width: 161px;
    height: 124px;
}
.imagen img {
    height: 100%;
    border-radius: 10px;
}
.preciocantidad h3:first-of-type{
    font-size: 12px;
    line-height: 15px;
    color: #4e5150;
}
.preciocantidad h3:nth-child(2) {
    font-size: 14px;
    line-height: 17px;
    color: #f2994a;
}
.preciocantidad h3:nth-child(2) span{
    font-size: 10px;
    line-height: 12px;
    color: #4e5150;
    text-decoration: line-through;
}
hr {
    margin-left: 27px;
    margin-right: 27px;
    color: #333;
}
.totales {
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 1rem;
    padding-bottom:1rem;
}
#divisores{
    margin-top: 4rem;
}

.inputIcono {
    width: 349px;
    height: 41px;
    border: solid 1px #828282;
    border-radius: 12px;
    padding-left: 2rem;
}
.inputIcono input {
    border: none;
}

.inputIcono input, .inputIcono i {
    margin-top: 1rem;
}
.inputIcono input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #828282;
    font-size: 12px;
    line-height: 15px;
}

.inputIcono i{
    color: #828282;
}